{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <h1>Bien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chauffage</th>
                <th>Surface</th>
                <th>Pieces</th>
                <th>Chambres</th>
                <th>Etages</th>
                <th>Prix</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Disponible</th>
                <th>Created_at</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.chauffage }}</td>
                <td>{{ bien.surface }}</td>
                <td>{{ bien.pieces }}</td>
                <td>{{ bien.chambres }}</td>
                <td>{{ bien.etages }}</td>
                <td>{{ bien.prix }}</td>
                <td>{{ bien.ville }}</td>
                <td>{{ bien.adresse }}</td>
                <td>{{ bien.codePostal }}</td>
                <td>{{ bien.disponible ? 'Oui' : 'Non' }}</td>
                <td>{{ bien.createdAt ? bien.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bien.nom }}</td>
                <td>
                    <a href="{{ path('bien_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('bien_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bien_new') }}">Create new</a>
{% endblock %}
